/* Common Styles */

:root {
  --vh: 100%;
}

.nav_top_padding {
  padding-top: 60px;
}

.mobile_h_fit {
  height: calc(var(--vh, 1vh) * 100);
}

/* Paticular Styles */

.nav-menu {
  right: -100%;
  /* transition: 300ms;*/
}

.nav-menu.active {
  right: 0;
  transition: 300ms;
}

.option-icon-rotate-180 {
  transition: 300ms;
  transform: rotate(-180deg);
}

.main-option-menu-slide-in {
  margin-top: 0em;
  transition-property: margin-top;
  transition-duration: 300ms;
}



.react-datepicker {
  width: 100%;
  height: 290px;
  border-radius: 20px !important;
}

.react-datepicker__month-container {
  width: 100%;
  border-radius: 30px;
  color: white;
}

.react-datepicker__current-month {
  color: red; /* 원하는 색상을 지정하세요 */
}

.react-datepicker__month-container .react-datepicker__header {
  width: 100%;
}

.react-datepicker__month-container .react-datepicker__header .react-datepicker__day-name {
  color:#FFFFFF;
  font-size: 18px;
}

.react-datepicker__month-container .react-datepicker__header {
  border-radius: 15px 15px 0px 0px;
  padding: 0px;
}

.react-datepicker__month-container .react-datepicker__header .react-datepicker__current-month{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(45deg, #779CF9, #1550E8);
}

.react-datepicker__day {
  /*달력에서 선택되지 않은 모든 날짜*/
  background-color: #e6e6e6;
  font-size: 11px;
  width: 35px;
  height: 25.5px;
}

.react-datepicker__day--selected,
.react-datepicker__day--highlighted {
  /*달력에서 중복으로 선택된 날짜들*/
  background-color: #4777f1 !important;
  color: white !important;
}



.react-datepicker__month-container .react-datepicker__header {
  background-color: #FFFFFF;
  font-weight: bold;
}

.react-datepicker__month-container .react-datepicker__header .react-datepicker__day-name {
  color: black;
}

.react-datepicker__month-container .react-datepicker__header .react-datepicker__day-name:first-child {
  color: red;
}

.react-datepicker__month-container .react-datepicker__header .react-datepicker__day-name:last-child {
  color: blue;
}

.react-datepicker__month-container .react-datepicker__header .react-datepicker__current-month {
  color: #FFFFFF;
  font-size: 1.2rem;
  width: 100%;
}

.react-datepicker__day--sun {
  color: red; /* 원하는 색상을 지정하세요 */
}

/* 토요일의 글자 색을 변경합니다 */
.react-datepicker__day--sat {
  color: blue; /* 원하는 색상을 지정하세요 */
}



.Dropdown-control {
  width: 250px;
  height: 30px;
  font-size: 14px;
}

.Dropdown-arrow {
  background-color: #cfcfcf;
}

.snackbar-fade-in {
    opacity: 1;
    transition: 0.2s;
}

.snackbar-hide {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.navbar-hide {
  height: 0;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInBg {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0.5;
  }
}

.login-fade-in-1 {
  animation: fadeIn 1s ease-in;
}

.login-fade-in-2 {
  animation: fadeIn 1s ease-in;
}

.login-fade-in-bg {
  animation: fadeInBg 1.5s ease-in;
}

.login-fade-in-btn {
  animation: fadeIn 0.5s ease-in;
}